<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
    <div class="collapse navbar-collapse " id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home"><strong>Home</strong> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " routerLink="/signin"><strong>SignIn</strong></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " href="/signup"><strong>SignUp</strong></a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
  
 
