<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Developing a Backend Admin for Learner’s Academy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherController</display-name>
    <servlet-name>TeacherController</servlet-name>
    <servlet-class>com.controller.TeacherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherController</servlet-name>
    <url-pattern>/TeacherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassController</display-name>
    <servlet-name>ClassController</servlet-name>
    <servlet-class>com.controller.ClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassController</servlet-name>
    <url-pattern>/ClassController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectController</display-name>
    <servlet-name>SubjectController</servlet-name>
    <servlet-class>com.controller.SubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectController</servlet-name>
    <url-pattern>/SubjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayClass</display-name>
    <servlet-name>DisplayClass</servlet-name>
    <servlet-class>com.display.DisplayClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayClass</servlet-name>
    <url-pattern>/DisplayClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayStudent</display-name>
    <servlet-name>DisplayStudent</servlet-name>
    <servlet-class>com.display.DisplayStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStudent</servlet-name>
    <url-pattern>/DisplayStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySubject</display-name>
    <servlet-name>DisplaySubject</servlet-name>
    <servlet-class>com.display.DisplaySubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySubject</servlet-name>
    <url-pattern>/DisplaySubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayTeacher</display-name>
    <servlet-name>DisplayTeacher</servlet-name>
    <servlet-class>com.display.DisplayTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTeacher</servlet-name>
    <url-pattern>/DisplayTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentClassController</display-name>
    <servlet-name>StudentClassController</servlet-name>
    <servlet-class>com.controller.StudentClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentClassController</servlet-name>
    <url-pattern>/StudentClassController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherSubject</display-name>
    <servlet-name>TeacherSubject</servlet-name>
    <servlet-class>com.controller.TeacherSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherSubject</servlet-name>
    <url-pattern>/TeacherSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teacherstudent</display-name>
    <servlet-name>teacherstudent</servlet-name>
    <servlet-class>com.controller.teacherstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherstudent</servlet-name>
    <url-pattern>/teacherstudent</url-pattern>
  </servlet-mapping>
</web-app>